<!-- Sidebar  -->
<nav id="sidebar">
    <div id="dismiss">
        <i class="fas fa-arrow-left"></i>
    </div>

    <div class="sidebar-header">
        <h3>GogoКурьер</h3>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="/">Главная страница</a>
        </li>
        <li>
            <a href="/page/about" >О нас</a>
        </li>
        <li>
            <a href="/page/info">Информация</a>
        </li>
        <li>
            <a href="/page/contact">Контакт</a>
        </li>
    </ul>
</nav>