{% extends "base.html" %}
{% set active_page = "analytics" %}

{% block title %}Analytics{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<h1 class="cap"><center>Аналитика</center></h1>

<h2>Количество заказов за все время: {{total_orders}}</h2>

<img src='../static/Analytics_Total_number_of_orders.png'>
<img src='../static/Analytics_Number_of_orders_by_organization.png'>
<img src='../static/Number_of_orders_for_all_time_by_organization.png'>
<!--
<h2>{{array_result}}</h2>
<h2>{{id_orders}}</h2>
<h2>{{date_orders}}</h2>
<h2>{{unit_id_organisations}}</h2>
<h2>{{name_organisations}}</h2>
<h2>{{list_date_orders}}</h2>
<h2>{{dict_date_and_organisations}}</h2>
<h2>{{values}}</h2>
<h2>{{counts}}</h2>
<h2>{{order_tests}}</h2>
<h2>{{date_tests}}</h2>
<h2>{{order_canceled}}</h2>
<h2>{{date_order_canceleds}}</h2>
<h2>{{array_order_canceleds}}</h2>
<h2>{{array_total}}</h2>
<h2>Ву Ба Шанг</h2>
<h2>{{id_organisation}}</h2>
<h2>{{date_organisations}}</h2>
-->

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}