{% extends "base.html" %}
{% set active_page = "database" %}

{% block title %}Couriersalaries{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}
<form action="http://127.0.0.1:8000/couriersalaries" method="get">
    <h1>Зарплаты курьеров по дням</h1>
    <br>Выберите дату: <input type="date" id="demo" name="time"/>
    <script>
        var todayDate = new Date()
        var month = todayDate.getMonth()
        var year = todayDate.getUTCFullYear()
        var tdate = todayDate.getDate()
        if(month < 10){
            month = "0" + month
        }
        if(tdate < 10){
            tdate = "0" + tdate
        }
        var maxDate = year + "-" + month + "-" + tdate
        document.getElementById("demo").setAttribute("max", maxDate)
        console.log(maxDate)
    </script>
    <input type="submit" value="Результат"/>
</form>

{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}