{% extends "base.html" %}
{% set active_page = "database" %}

{% block title %}Couriersalaries{% endblock %}

{% block head %}
{{ super() }}


{% endblock %}

{% block page_content %}

<form method="post">
    <h1>Зарплаты курьеров по дням</h1>
    <br>Выберите дату: <input type="date" id="dateSelected" name="dateSelected" value="{{ dateSelected }}"/>

    <button id="submit">Результат</button>
    <h4 id="output" style="color:blue;">Выберите даты, чтобы начать</h4>
    <script>
        var todayDate = new Date()
        var month = todayDate.getMonth()+1
        var year = todayDate.getUTCFullYear()
        var tdate = todayDate.getDate()
        if(month < 10){
            month = "0" + month
        }
        if(tdate < 10){
            tdate = "0" + tdate
        }
        var maxDate = year + "-" + month + "-" + tdate
        document.getElementById("dateSelected").setAttribute("max", maxDate)

        // let dateSelected = new Date(document.getElementById("dateSelected").value)
        // document.getElementById("output").innerHTML = dateSelected;
        let submit = document.getElementById("submit");
        let output = document.getElementById("output");

        submit.addEventListener("click", () => {
            let dateSelected = new Date(document.getElementById("dateSelected").value);
            if (dateSelected.getTime()) {
                let date = JSON.stringify(dateSelected)
                date = date.slice(1,11)
                output.innerHTML = `Зарплата у каждого курьера на <span>${date}</span> составляет:`;
            }
            else {
                output.innerHTML = "Пожалуйста выберите правильную дату";
            }
        });
    </script>
</form>
<h3 style="color:darkgreen;">{{ resultt }}</h3>
<h2>{{results}}</h2>
<h2>{{a}}</h2>
{% endblock %}

{% block scripts %}
{{ super() }}


{% endblock %}